.highlight {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #00b2a5;
}

a:visited {
    text-decoration: none;
    color: #00b2a5;
}

a:hover {
    text-decoration: none;
    color: #00b2a5;
}

a:active {
    text-decoration: none;
    color: #00b2a5;
}

#app iframe {
    padding: 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
} 

@media only screen and (max-width: 1024px) and (max-height: 1024px) {
    .mobilehide {
        display: none;
    }    

    #app {        
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}