.breadcrumb {        
    margin: 0em;
    padding: 0.7em;
    overflow-x: scroll;
    overflow-y: hidden;
}

.breadcrumb > ul {
    list-style: none;
    display: inline-flex;
    margin: 0em;
    padding: 0em;
}

.breadcrumb > ul > li {
    display: list-item;
    margin: 0;
}

.breadcrumb > ul > li+li:before {
    padding: 8px;
    color: #666;
    content: ">";
}

.breadcrumb > ul > li a {
    white-space: nowrap;
    color: #666;
    text-decoration: none;
}