.breadcrumb {
    list-style: none;
    margin-top: 1em;
    margin-left: 0;
    margin-bottom: 1em;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

.breadcrumb li a {
}

.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}