.breadcrumb {        
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0.2em;
    overflow: scroll;
}

.breadcrumb > ul {
    list-style: none;
    display: inline-flex;
    margin: 0em;
}

.breadcrumb > ul > li {
    display: list-item;
}

.breadcrumb > ul > li+li:before {
    padding: 8px;
    color: black;
    content: ">";
}

.breadcrumb > ul > li a {
    white-space: nowrap;
}

.breadcrumb > ul > li a:hover {
  color: #01447e;
  text-decoration: underline;
  
}