.ceproductlist {
    padding: 2em;
    margin-bottom: 2em;
}

.ceproductlist > h2 {
    width: 100%;
    text-align: center;
}

.ceproductlist > div {
    display: flex;    
    overflow: scroll;
}

.ceproductlist > div > div {
    margin-right: 1em;
    flex: 10%;
    
}

.ceproductlist > div > div > a > p {
    text-align: center;    
    font-size: 15px;
    width: 150px;   
}