
@media only screen and (max-width: 600px) {
    .cecategorylist {
        padding: 1em;
        margin-bottom: 1em;
    }

    .cecategorylist a {
        white-space: nowrap;
    }

    .cecategorylist > h2 {
        width: 100%;
        text-align: center;
    }    

    .cecategorylist > div {
        width: 100%;
        text-align: center;
    }

    .cecategorylist a {
        text-decoration: none;
        color: #00b2a5;
    }  
}

@media only screen and (min-width: 601px) {
    .cecategorylist {
        padding: 2em;
        margin-bottom: 1em;
    }

    .cecategorylist > h2 {
        width: 100%;
        text-align: center;
    }

    .cecategorylist > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .cecategorylist > div > div {
        flex: 25%;
    }

    .cecategorylist a {
        text-decoration: none;
        color: #00b2a5;
    }
}

@media only screen and (max-width: 600px) {
     .cecategorylist3 {
        padding: 1em;
        margin-bottom: 1em;
    }
        
    .cecategorylist3 > h2 {
        width: 100%;
        text-align: center;
    }       
    
    .cecategorylist3 > div {
        width: 100%;
        text-align: center;
    }

    .cecategorylist3 a {
        text-decoration: none;
        color: #00b2a5;
    }
}

@media only screen and (min-width: 601px) {
    .cecategorylist3 {
        padding: 2em;
        margin-bottom: 1em;
    }
        
    .cecategorylist3 > h2 {
        width: 100%;
        text-align: center;
    }
        
    .cecategorylist3 > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
        
    .cecategorylist3 > div > div {
        flex: 33%;
    }

    .cecategorylist3 a {
        text-decoration: none;
        color: #00b2a5;
    }
}