@media only screen and (min-width: 601px) {
    .cecategorynavigation {
        padding: 0em;
        margin-bottom: 2em;
    }

    .cecategorynavigation > h2 {
        width: 100%;
        text-align: center;
    }

    .cecategorynavigation > div {
        display: flex;
        justify-content: flex-start;           
    }

    .cecategorynavigation > div > div {
        flex: 10%;
    }

    .cecategorynavigation > div > div > a {
        text-decoration: none;
    }

    .cecategorynavigation > div > div > a > div {
        background-color: #F2F2F2;
        margin: 0.2em;
        height: 100px;
        padding: 0.5em;
        color: #00b2a5;
        font-weight: bold;

    }
}

@media only screen and (max-width: 600px) {
    .cecategorynavigation {
        padding: 0em;
        margin-bottom: 2em;
    }

    .cecategorynavigation > h2 {
        width: 100%;
        text-align: center;        
    }

    .cecategorynavigation {
        padding-left: 1em;
        padding-right: 1em;         
    }

    .cecategorynavigation > div > div > a {
        text-decoration: none;
    }

    .cecategorynavigation > div > div > a > div {
        background-color: #F2F2F2;
        margin-bottom: 0.5em;
        height: 100px;
        padding: 0.5em;        
        color: #00b2a5;
        font-weight: bold;
    }
}
