.cehero {
    margin-top: 0em;
    margin-bottom: 1em;
}

.cehero > h1 {
    width: 100%;
    text-align: center;  
    margin-top: 1em;  
}

.cehero > h2 {
    width: 100%;
    text-align: center;    
}

.cehero > div {
    width: 100%;
    text-align: center;    
}

.text {
    padding: 1em 1em 0em 1em;    
}  