@media only screen and (max-width: 1024px) {
    .header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: #ffffff;
        z-index: 1000;
    }
}

@media only screen and (min-width: 601px) {
    .searchContainer {
        display: flex;
    }

    .searchContainer > div {
        flex: 33%;
    }

    .searchbox {
        max-width: 300px;
        margin: 1.2em 0 0 0;
    } 
}

@media only screen and (max-width: 600px) {
    .searchbox {
        margin: 0em 0.2em 0.2em 0.2em;
    }
}
